@model Catalog

@{
    ViewData["Title"] = "Список продуктов";
}

<ul>
    @foreach (var category in Model.GetCategories())
    {
        <li>@category.Id - @category.Name</li>
        <ul>
            @foreach (var product in @category.GetProducts())
            {
                <li>@product.Id - @product.Name</li>
            }
        </ul>
    }
</ul>

<form method="post">
    Id: <input type="text" name="id" required/>
    <br>
    Category:   <select name="categories" id="categories">
                    @foreach (var category in Model.GetCategories())
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
    <br>
    Name: <input type="text" name="name"/>
    <br>
    <input type="submit" name="submit" value="Создать"/>
</form>
